<%= form_for @user do |f| %>
    <%= render 'shares/error_messages', object: f.object  %>
    <div class="form col-6 offset-3 mt-3 mb-3 pt-5 form-div">
        <div class="row pt-3">
            <div class="form-group col-6">
                <%= f.label :First_Name %>
                <%= f.text_field :first_name, class: "form-control fa", placeholder: "\uf007   Enter your first name" %>
            </div>
            <div class="form-group col-6">
                <%= f.label :Last_Name %>
                <%= f.text_field :last_name, class: "form-control fa", placeholder: "\uf007   Enter your last name" %>
            </div>
        </div>
        <div class="form-group pt-3">
            <%= f.label :Email %>
            <%= f.email_field :email, class: "form-control fa", placeholder: "\uf0e0   Enter your email" %>
        </div>
        <div class="form-group pt-3">
            <%= f.label :Password %>
            <%= f.password_field :password, class: "form-control fa", placeholder: "\uf084   More than 7 letters" %>
        </div>
        <div class="form-group pt-3">
            <%= f.label :Password_confirmation %>
            <%= f.password_field :Password_confirmation, class: "form-control fa", placeholder: "\uf084   Enter the same password as above" %>
        </div>
        <div class="form-group pt-3">
            <%= f.submit "Let's start!", class: "btn btn-block btn-primary" %>
        </div>
    </div>
<% end %>
