<div class="text-left">
    <% @activities.each do |activity| %>
        <% if activity.actionable_type == "Lesson" %>
            <% if @user.id == activity.actionable.user_id %>
                <%= "#{@user.first_name} learned 
                        #{activity.actionable.choices.where(correct: true).count} / #{activity.actionable.words.count} words
                        in" %>
                <%= link_to "#{activity.actionable.category.title} #{activity.actionable.category.description}",
                                lesson_path(activity.actionable.user_id) %>
                    <hr>
            <% else %>
                <%= "#{activity.user.first_name} learned 
                        #{activity.actionable.choices.where(correct: true).count} / #{activity.actionable.words.count} words
                        in" %>
                <%= link_to "#{activity.actionable.category.title} #{activity.actionable.category.description}",
                                lesson_path(activity.actionable.user_id) %>
                    <hr>
            <% end %>
        <% else %>
            <% if @user.id == activity.actionable.follower_id %>
                <%= "#{@user.first_name} followed" %>
                <%= link_to "#{activity.actionable.followed.first_name}", user_path(activity.actionable.followed.id) %>
                <hr>
            <% elsif @user.id == activity.actionable.followed_id %>
                <%= link_to "#{activity.actionable.follower.first_name}", user_path(activity.actionable.follower.id) %>
                <%= "followed #{@user.first_name}" %>

                <hr>
            <% end %>
        <% end %>
    <% end %>
</div>