<!DOCTYPE html>
<html>
  <head>
    <title>ShotaElearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="positon-relative">
      <%= render 'layouts/navbar' %>
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
            <div class="w-100 alert-div position-absolute alert alert-<%= type %>">
              <div><%= msg %></div>
            </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>

  <%= debug session[:user_id] if Rails.env == 'development' %>

  </body>
</html>
